.form-group
  = label_tag id, field.name, class: :'control-label col-sm-3'
  .col-sm-9
    - FieldFill.select('distinct value').where(field_id: field.id).each do |ff|
      - cb_id = "#{id}_#{ff.value}"
      %label.checkbox
        = check_box_tag cb_id, ff.value, value.try(:include?, ff.value),
            name: "fields[#{field.id}][value][]"
        = t(:"countries.#{ff.value}")
