.form-group
  - id_b = "#{id}_b"
  - id_e = "#{id}_e"
  - v_b = values[field.id.to_s]['value']['b'] rescue nil
  - v_e = values[field.id.to_s]['value']['e'] rescue nil
  = label_tag id_b, field.name, class: :'control-label col-sm-3'
  .col-sm-9
    .row
      .col-sm-2
        = text_field_tag id_b, v_b, name: "fields[#{field.id}][value][b]",
            data: { "date-language" => I18n.locale },
            class: 'datepicker form-control'
      .col-sm-1.text-center
        = label_tag id_e, t(:until)
      .col-sm-2
        = text_field_tag id_e, v_e, name: "fields[#{field.id}][value][e]",
            data: { "date-language" => I18n.locale },
            class: 'datepicker form-control'
