.page-header
  %h1= t '.title', default: [:'helpers.titles.edit', 'Edit %{model}'], model: User.model_name.human

= simple_form_for(resource, :as => resource_name, :url => registration_path, :html => { :method => :put }) do |f|

  .form-inputs
    = f.input :name, :autofocus => true, input_html: { class: 'input-xxlarge' }
    = f.input :email, :required => true, input_html: { class: 'input-xlarge' }

    = f.input :password, :autocomplete => "off", :required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :required => true

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to_back
