<%- model_class = Contest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @contest.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:begin_at) %>:</strong></dt>
  <dd><%= @contest.begin_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_at) %>:</strong></dt>
  <dd><%= @contest.end_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allow_edit) %>:</strong></dt>
  <dd><%= @contest.allow_edit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rules_url) %>:</strong></dt>
  <dd><%= @contest.rules_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:technical_email) %>:</strong></dt>
  <dd><%= @contest.technical_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @contest.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contests_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contest_path(@contest), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contest_path(@contest),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
