- model_class = User
= page_header t('.title', default: model_class.model_name.human.pluralize)

%form.form-inline{action: users_path}
  .form-group
    %label(for="term" class="sr-only") Search
    = text_field_tag 'name', params[:term], id: :term, name: "term", class: 'form-control'
  .checkbox
    %label
      %input#subscribers{type: "checkbox", name: "subscribers", checked: !params[:subscribers].blank?}
      = t :include_subscribers
  = button_tag type: "submit", class: 'btn btn-default' do
    #{icon_tag("icon-search")} #{t(:search)}

  %br
  %br

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td.actions
          = minilink_to_edit user, edit_user_path(user)

= paginate @users

%br

= link_to_add User, new_user_path
