- model_class = User
= page_header t('.title', default: model_class.model_name.human.pluralize)

%form.form-search{action: users_path}
  %input#subscribers{type: "checkbox", name: "subscribers", checked: !params[:subscribers].blank?}
  %label{for: :subscribers}=t :include_subscribers
  %br
  %br
  .input-append
    = text_field_tag 'name', params[:term], name: "term", class: 'append search-query span4'
    = button_tag type: "submit", class: :btn do
      #{icon_tag("icon-search")} #{t(:search)}

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :email
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.email
        %td.actions
          = minilink_to_edit user, edit_user_path(user)

= paginate @users

%br

= link_to_add User, new_user_path
