<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('simple_form.labels.defaults.email') %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.name') %>:</strong></dt>
  <dd><%= @user.name %></dd>
</dl>
<br/>
<h3>Monitoria</h3>
<dl class="dl-horizontal">
  <dt><strong><%= t('simple_form.labels.defaults.reset_password_sent_at') %>:</strong></dt>
  <dd><%= @user.reset_password_sent_at ? l(@user.reset_password_sent_at) : "-" %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.sign_in_count') %>:</strong></dt>
  <dd><%= @user.sign_in_count %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.current_sign_in_at') %>:</strong></dt>
  <dd><%= @user.current_sign_in_at ? l(@user.current_sign_in_at) : "-" %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.last_sign_in_at') %>:</strong></dt>
  <dd><%= @user.last_sign_in_at ? l(@user.last_sign_in_at) : "-" %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.current_sign_in_ip') %>:</strong></dt>
  <dd><%= @user.current_sign_in_ip || '-' %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.last_sign_in_ip') %>:</strong></dt>
  <dd><%= @user.last_sign_in_ip || '-' %></dd>
  <dt><strong><%= t('simple_form.labels.defaults.active') %>:</strong></dt>
  <dd><%= @user.active? ? "Sim" : "Não" %></dd>
  <% if @user.active? %>
    <dt><strong><%= t('simple_form.labels.defaults.activated_by') %>:</strong></dt>
    <dd><%= @user.activated_by ? @user.activated_by.name : '-' %></dd>
    <dt><strong><%= t('simple_form.labels.defaults.activated_at') %>:</strong></dt>
    <dd><%= @user.activated_at ? l(@user.activated_at) : '-' %></dd>
  <% else %>
    <dt><strong><%= t('simple_form.labels.defaults.deactivated_by') %>:</strong></dt>
    <dd><%= @user.deactivated_by ? @user.deactivated_by.name : '-' %></dd>
    <dt><strong><%= t('simple_form.labels.defaults.deactivated_at') %>:</strong></dt>
    <dd><%= @user.deactivated_at ? l(@user.deactivated_at) : '-' %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
  <%= link_to "<i class=\"icon-pencil\"></i> ".html_safe + t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-warning' if current_user != @user %>
</div>
