%h2
  = t :'devise.titles.forgot'

%br
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, :required => true, :autofocus => true

  .form-actions
    = f.button :submit, t(:'devise.buttons.forgot'), class: 'btn-primary'

= render "devise/shared/links"
