<%- model_class = Event -%>
<div class="page-header">
  <h1><%= t(:home_title) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:opens_at) %></th>
      <th><%= model_class.human_attribute_name(:closes_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= content_tag :strong do event.name end %></td>
        <td><%=l event.opens_at %></td>
        <td><%=l event.closes_at %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
