<%- model_class = Event -%>
<div class="page-header">
  <h1><%= t(:home_title) %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:opens_at) %></th>
      <th><%= model_class.human_attribute_name(:closes_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <% if event.wikis.any? %>
          <td><%= link_to event.name, event_path(event.identifier) %></td>
        <% else %>
          <td><%= content_tag :strong do event.name end %></td>
        <% end %>
        <td><%=l event.opens_at %></td>
        <td><%=l event.closes_at %></td>
        <td><%= link_to_subscribe(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @future_events && @future_events.any? %>
  <div class="page-header">
    <h2><%= t(:future_events) %></h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:opens_at) %></th>
        <th><%= model_class.human_attribute_name(:closes_at) %></th>
      </tr>
    </thead>
    <tbody>
      <% @future_events.each do |event| %>
        <tr>
          <td><%= content_tag :strong do event.name end %></td>
          <td><%=l event.opens_at %></td>
          <td><%=l event.closes_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
