= f.simple_fields_for :delegations, Delegation.new, child_index: '{{$index}}' do |form|
  = form.input :id, as: :hidden, input_html: { 'value' => '{{delegation.id}}' }
  = form.input :_destroy, as: :hidden, input_html: { 'value' => '{{delegation._destroy}}' }
  = form.association :user, input_html: { 'ng-model' => 'delegation.user_id' }
  = form.association :role, input_html: { 'ng-model' => 'delegation.role_id' }
  = form.input :_destroy, label: false do
    = link_to icon_tag('icon-trash icon-white'), 'javascript:void(0)', 'ng-click' => 'removeDelegation($index)', class: 'btn btn-danger btn-mini', title: t(:remove_delegation)
%hr
