= simple_form_for @event, :html => { class: 'form-horizontal', multipart: true } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :identifier
    = f.input :opens_at
    = f.input :closes_at
    = f.input :allow_edit
    = f.input :rules_url
    = f.input :technical_email
    = f.input :email

  .form-actions
    = f.button :submit
