%div{'ng-controller' => 'EventCtrl', 'ng-init' => "event = #{to_ng(@event)}; extras = #{Field::TYPES_WITH_EXTRA.to_json}"}
  = simple_form_for @event, :html => { class: 'form-horizontal', multipart: true },
    wrapper: :horizontal do |f|

    - if @event.errors[:delegations].any?
      .alert.alert-danger
        %button.close(type="button" data-dismiss="alert" aria-hidden="true")
          &times;
        %ul
          %li= Delegation.model_name.human.pluralize
          %ul
            - @event.delegations.each do |delegation|
              %li
                #{ delegation.user.try(:name) }: #{ delegation.errors.collect{|k,v| Delegation.human_attribute_name(k) + ' ' + v }.join(', ') }

    .form-inputs
      %ul.nav.nav-tabs
        %li.active
          %a(href="#details" data-toggle="tab")= t :details
        %li
          %a(href="#subscriptions" data-toggle="tab")= Subscription.model_name.human.pluralize
        %li
          %a(href="#fields" data-toggle="tab")= Event.human_attribute_name :fields
        %li
          %a(href="#delegations" data-toggle="tab")= Event.human_attribute_name :delegations
      .tab-content
        .tab-pane.active#details
          = f.input :name, input_html: { :'ng-model' => 'event.name' }
          = f.input :description
          = f.input :identifier, input_html: { :'ng-model' => 'event.identifier'}
          = f.input :rules_url, input_html: { :'ng-model' => 'event.rules_url'}
          = f.input :email, input_html: { :'ng-model' => 'event.email'}
          = f.input :published
        .tab-pane#subscriptions
          = f.input :opens_at, include_blank: true
          = f.input :closes_at, include_blank: true
          = f.input :receipt_title
          = f.input :receipt_signature
        .tab-pane#fields
          .event-field{:'ng-repeat' => '(fieldIdx, field) in event.fields',
              :'ng-show' => '!field._destroy' }
            = render 'fields_form', f: f
          %hr(style="margin-top: -1px")
          .row
            .col-sm-9.col-sm-offset-3
              = link_to icon_tag('icon-plus'), 'javascript:void(0)',
                'ng-click' => 'addField()', class: 'btn btn-success',
                title: t(:add_field), id: 'add_field'
          %hr
        .tab-pane#delegations
          .delegation-field{:'ng-repeat' => 'delegation in event.delegations',
              :'ng-show' => '!delegation._destroy' }
            = render 'delegations_form', f: f
          .row
            %div.col-sm-9.col-sm-offset-3
              = link_to icon_tag('icon-plus'), 'javascript:void(0)',
                'ng-click' => 'addDelegation()', id: 'add_delegation',
                class: 'btn btn-success', title: t(:add_delegation)
          %hr

    .form-actions.row
      %div.col-sm-9.col-sm-offset-3
        = f.button :submit, class: 'btn-primary'
        = link_to_back
