- model_class = Event
= page_header t('.title', default: model_class.model_name.human.pluralize)

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :identifier
      %th= model_class.human_attribute_name :opens_at
      %th= model_class.human_attribute_name :closes_at
      %th= model_class.human_attribute_name :subscriptions
      %th
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.name, event
        %td= link_to event.identifier, present_event_main_page_path(event.identifier)
        %td= l event.opens_at
        %td= l event.closes_at
        - if can? :index, Subscription
          %td= link_to event.subscriptions.size, event_subscriptions_path(event)
        - else
          %td= event.subscriptions.size
        %td.actions
          = minilink_to_edit event, edit_event_path(event)
          = minilink_to_destroy event, value: event.name
          = link_to icon_tag('icon-file icon-white'), event_pages_path(event),
              class: 'btn btn-mini btn-primary',
              title: Page.model_name.human.pluralize if can? :index, Page

= paginate @events

%br

= link_to_add Event, new_event_path
