- model_class = Event
= page_header t('.title', default: model_class.model_name.human.pluralize)

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :identifier
      %th= model_class.human_attribute_name :opens_at
      %th= model_class.human_attribute_name :closes_at
      %th= model_class.human_attribute_name :subscriptions
      %th
      %th
      %th
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to event.name, event
        %td= event.identifier
        %td= event.opens_at
        %td= event.closes_at
        %td= event.subscriptions.size
        %td= link_to_edit event, edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
