- model_class = Event
= page_header model_class.model_name.human

= show_for @event, class: 'dl-horizontal' do |show|
  .tabs
    %ul.nav.nav-pills
      %li.active
        %a(href="#details" data-toggle="pill")= t :details
      %li
        %a(href="#fields" data-toggle="pill")= model_class.human_attribute_name :fields
      %li
        %a(href="#delegations" data-toggle="pill")= model_class.human_attribute_name :delegations
    .tab-content
      .tab-pane#details.active
        = show.attribute :name
        = show.attribute :opens_at
        = show.attribute :closes_at
        = show.attribute :rules_url
        = show.attribute :receipt_title
        = show.attribute :receipt_signature
      .tab-pane#fields
        %table
          %tbody
            - last_group = ''
            - for f in @event.fields
              - if !(f.group_name.nil? || f.group_name.blank?) && f.group_name != last_group
                %tr
                  %th(colspan="2" class="text-center")= last_group = f.group_name
              %tr
                %td.left-col
                  = f.name
                %td
                  %strong.text-muted #{Field.type_to_s f.field_type}
      .tab-pane#delegations
        %table
          %tbody
            - for d in @event.delegations.includes(:role, :user).order('roles.name, users.name')
              %tr
                %td.left-col
                  %strong.text-muted #{d.role.try :name}
                %td
                  #{d.user.name || d.user.email}

= form_actions do
  = link_to_edit @event, edit_event_path(@event)
  = link_to_back path: events_path
