- model_class = Event
= page_header model_class.model_name.human

= show_for @event, class: 'dl-horizontal' do |show|
  .tabs
    %ul.nav.nav-pills
      %li.active
        %a{href: "#details", 'data-toggle' => "pill"}= t :details
      %li
        %a{href: "#fields", 'data-toggle' => "pill"}= model_class.human_attribute_name :fields
    #details.tab.active
      = show.attribute :name
      = show.attribute :opens_at
      = show.attribute :closes_at
      = show.attribute :allow_edit
      = show.attribute :rules_url
      = show.attribute :technical_email
    #fields.tab
      = show.association :fields

= form_actions do
  = link_to_back path: events_path
  = link_to_edit @event, edit_event_path(@event)
