- model_class = Page
= page_header t('.title', default: model_class.model_name.human.pluralize)

%h3=@event.name

%form.form-search{action: event_pages_path(@event)}
  .input-append
    %input.append.search-query.span4{type: "text", name: "term", value: params[:term]}
    %button.btn{type: "submit"}
      #{icon_tag "icon-search"} #{t :search}

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :language
      %th= model_class.human_attribute_name :title
      %th
  %tbody
    - @pages.each do |page|
      %tr
        %td= link_to page.name, page
        %td= locale_flag page.language
        %td
          - if page.main
            %strong= page.title
          - else
            = page.title
        %td
          = minilink_to_edit page, edit_page_path(page)
          = minilink_to_destroy page, value: page.title

= link_to_add Page, new_event_page_path(@event)
= link_to_back path: events_path
