- model_class = Page
= page_header @page.title

= show_for @page, class: 'dl-horizontal' do |show|
  = show.attribute :name

.md-page
  = markdown @page

= form_actions do
  = link_to_back path: event_pages_path(@page.event) if can? :index, Subscription
  = link_to_edit @page, edit_page_path(@page)
