- content_for :title do @wiki.title end

%ul.nav.nav-pills
  - for w in @wiki.event.wikis.where(wiki_id: nil)
    - link = link_to w.title, present_event_wiki_path(@wiki.event.identifier, w.name)
    - if w.name == @wiki.name
      %li.active
        = link
    - else
      %li
        = link

= wiki_tree @wiki

%h1= @wiki.title

= markdown @wiki
