- model_class = Wiki
= page_header model_class.model_name.human

= show_for @wiki, class: 'dl-horizontal' do |show|
  = show.attribute :name
  = show.attribute :title
  = show.attribute :content

= form_actions do
  = link_to_back path: event_wikis_path(@wiki.event) if can? :index, Subscription
  = link_to_edit @wiki, edit_wiki_path(@wiki)
