- model_class = Wiki
= page_header @wiki.title

= show_for @wiki, class: 'dl-horizontal' do |show|
  = show.attribute :name

= markdown @wiki

= form_actions do
  = link_to_back path: event_wikis_path(@wiki.event) if can? :index, Subscription
  = link_to_edit @wiki, edit_wiki_path(@wiki)
