- url = (@application.new_record? ? event_subscriptions_path(@event) : subscription_path(@application.subscription))
= simple_form_for @application, url: url, :html => { class: 'form-horizontal', multipart: true } do |f|
  - alert = f.error :base
  - if alert
    .alert.alert-warning
      %button.close{type: "button", :'data-dismiss' => "alert"}
        &times;
      = alert
    %br

  .form-inputs
    = f.input :confirmed, as: :hidden
    = f.input :event_name do
      %span.input-xxlarge.uneditable-input
        = @application.event_name
    = f.input :name, input_html: { class: :'input-xxlarge' }
    = f.input :id_card
    - if @application.new_record?
      = f.input :email, input_html: { class: :'input-xlarge' }
      = f.input :email_confirmation, input_html: { class: :'input-xlarge' }
    = f.input :password unless @application.user || !@application.confirmed?
    = f.input :password_confirmation unless @application.user || !@application.confirmed?

    - last_group = ''
    = f.simple_fields_for :field_fills do |ff|
      - group = ff.object.field.group_name
      - if group != last_group && !group.blank?
        %h2= last_group = group
      = ff.input :field_id, as: :hidden, label: false
      = ff.input :type, as: :hidden, label: false
      = input_fill ff

  .form-actions
    = f.button :submit, t(:subscribe), class: 'btn btn-primary'
