- url = (@application.new_record? ? event_subscriptions_path(@event) : subscription_path(@application.subscription))
= simple_form_for @application, url: url, :html => { class: 'form-horizontal', multipart: true },
  wrapper: :horizontal do |f|
  - alert = f.error :base
  - if alert
    .alert.alert-warning
      %button.close{type: "button", :'data-dismiss' => "alert"}
        &times;
      = alert
    %br

  .form-inputs
    = f.input_field :confirmed, as: :hidden
    = f.input :event_name, input_html: { disabled: true }
    = f.input :name
    - if @application.new_record?
      = f.input :email
      = f.input :email_confirmation
    = f.input :id_card

    - last_group = ''
    = f.simple_fields_for :field_fills do |ff|
      - group = ff.object.field.group_name
      - if group != last_group && !group.blank?
        %h2= last_group = group
      = ff.input_field :field_id, as: :hidden, label: false
      = ff.input_field :type, as: :hidden, label: false
      = input_fill ff

    - unless @application.user || !@application.confirmed?
      %h2= t :choose_password
      = horizontal_input f, :password, required: true
      = horizontal_input f, :password_confirmation

  .form-actions
    .row
      .col-md-9.col-md-offset-3
        = f.button :submit, t(:subscribe), class: 'btn btn-primary'
