- url = (@application.new_record? ? event_subscriptions_path(@event) : subscription_path(@application.subscription))
= simple_form_for @application, url: url, :html => { class: 'form-horizontal', multipart: true } do |f|
  - alert = f.error :base
  - if alert
    .alert.alert-warning
      %button.close{type: "button", 'data-dismiss' => "alert"}
        &times;
      = alert
    %br

  .form-inputs
    = f.input :confirmed, as: :hidden
    = input f, :event_name, model_class: Subscription,
        input_html: { readonly: true, class: :'input-xxlarge' }, required: false
    = input f, :name, model_class: Subscription, input_html: { class: :'input-xxlarge' }
    = input f, :id_card, model_class: Subscription
    - if @application.new_record?
      = input f, :email, model_class: Subscription, input_html: { class: :'input-xlarge' }
      = input f, :email_confirmation, model_class: Subscription, input_html: { class: :'input-xlarge' }
    = input f, :password, model_class: Subscription unless @application.user
    = input f, :password_confirmation, model_class: Subscription unless @application.user

    - last_group = ''
    = f.simple_fields_for :field_fills do |ff|
      - group = ff.object.field.group_name
      - if group != last_group && !group.blank?
        %h2= group
        - last_group = group
      = ff.input :field_id, as: :hidden, label: false
      = ff.input :type, as: :hidden, label: false
      = input_fill ff

  .form-actions
    = f.button :submit, t(:subscribe), class: 'btn btn-primary'
