- model_class = Subscription
= page_header t('.title', default: model_class.model_name.human.pluralize)

%form.form-search{action: event_subscriptions_path(@event)}
  .input-append
    %input.append.search-query.span4{type: "text", name: "term", value: params[:term]}
    %button.btn{type: "submit"}
      #{icon_tag "icon-search"} #{t :search}

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :number
      %th= model_class.human_attribute_name :email
      %th
      %th
  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= link_to subscription.number, subscription_path(subscription)
        %td= subscription.email
        %td.actions
          = minilink_to_edit subscription, edit_subscription_path(subscription)
          = minilink_to_receipt(subscription)

= paginate @subscriptions
