<%- model_class = Subscription -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:'formtastic.labels.subscription.id_card') %></th>
      <th><%= t(:'formtastic.labels.subscription.email') %></th>
      <th><%= t(:'formtastic.labels.subscription.event') %></th>
      <th></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= link_to subscription.id_card, subscription_path(subscription) %></td>
        <td><%= subscription.email %></td>
        <td><%= subscription.event.name if subscription.event %></td>
        <td>
          <%= link_to_receipt(subscription) %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_subscription_path(subscription), :class => 'btn btn-mini' if can? :edit, subscription %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_subscription_path,
            :class => 'btn btn-primary' %>
