<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= Subscription.model_name.human.pluralize %>">
    <Table>
      <Column ss:Width="3.5 cm" />
      <Column ss:Width="3.5 cm" />
      <Column ss:Width="10 cm" />
      <Column ss:Width="5 cm" />
      <Row>
        <Cell><Data ss:Type="String"><B><%= Subscription.human_attribute_name :created_at %></B></Data></Cell>
        <Cell><Data ss:Type="String"><B><%= Subscription.human_attribute_name :number %></B></Data></Cell>
        <Cell><Data ss:Type="String"><B><%= Subscription.human_attribute_name :name %></B></Data></Cell>
      <% for select in permitted_selects %>
        <Cell><Data ss:Type="String"><B><%= Subscription.human_attribute_name select %></B></Data></Cell>
      <% end -%>
      <% for field in @fields -%>
        <Cell><Data ss:Type="String"><B><%= field.name %></B></Data></Cell>
      <% end -%>
      </Row>
    <% @subscriptions.each do |subscription| %>
      <Row>
        <Cell><Data ss:Type="String"><%= subscription.created_at.strftime('%Y-%m-%d %H:%M:%S') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= subscription.number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= subscription.name %></Data></Cell>
      <% for select in permitted_selects %>
        <Cell><Data ss:Type="String"><%= subscription.attributes[select] %></Data></Cell>
      <% end -%>
      <% for field in @fields %>
        <% fill = subscription.field_fills.where(field_id: field.id).first %>
        <% if fill %>
        <Cell><Data ss:Type="<%= field.is_numeric ? 'Number' : 'String' %>"><%= fill.value_to_s %></Data></Cell>
        <% end %>
      <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
