- model_class = Subscription
= page_header "#{t('.title', default: model_class.model_name.human.pluralize)} - #{@event.name}"

= form_tag event_subscriptions_path(@event), method: :get, class: 'form-search form-horizontal' do
  - values = params[:fields] || {}
  - @event.fields.where(searchable: true).each do |field|
    = hidden_field_tag "fields[#{field.id}][type]", field.field_type
    = render "subscriptions/inputs/#{field.field_type}_input",
        field: field,
        value: begin values[field.id.to_s][:value] rescue nil end,
        values: values,
        id: dom_id(field) rescue nil

  .control-group
    = label_tag 'search', t(:search), class: :'control-label'
    .controls
      = text_field_tag 'name', params[:term], name: "term", class: 'span4'

  .control-group
    = label_tag 'field_ids[]', t(:include_fields), class: :'control-label'
    .controls
      = select_tag 'field_ids[]', options_from_collection_for_select(@event.         |
          fields.where("field_type != 'file'"), :id, :name, params['field_ids']),    |
          multiple: '', class: 'chosen input-xxlarge',   |
          :'data-placeholder' => t(:select).titleize   |

  .control-group
    .controls
      = button_tag type: "submit", class: :'btn btn-primary' do
        #{icon_tag("icon-search icon-white")}
        #{t(:search)}
      = link_to icon_tag("icon-remove icon-white").html_safe,
          event_subscriptions_path(@event), title: t(:clear_fields),
          class: 'btn btn-warning'

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name :created_at
      %th= model_class.human_attribute_name :number
      %th= model_class.human_attribute_name :name
      %th= model_class.human_attribute_name :email
      - for field in @fields
        %th= field.name
      %th
  %tbody
    - @subscriptions.each do |subscription|
      %tr
        %td= l subscription.created_at, format: :short
        %td= link_to subscription.number, subscription_path(subscription)
        %td= subscription.name
        %td= subscription.email
        - for field in @fields
          - fill = subscription.fills.where(field_id: field.id).first
          %td= fill.value_to_s if fill
        %td.actions
          = minilink_to_edit subscription, edit_subscription_path(subscription)
          = minilink_to_receipt(subscription)

= paginate @subscriptions

= link_to icon_tag('icon-download-alt icon-white') + " CSV",
    event_subscriptions_path(@event, format: 'csv', params: params.slice(:fields, :field_ids)),
    class: 'btn btn-inverse'
= link_to icon_tag('icon-download-alt icon-white') + " XLS",
    event_subscriptions_path(@event, format: 'xls', params: params.slice(:fields, :field_ids)),
    class: 'btn btn-success'
