- model_class = Subscription
= page_header t('.title')

= show_for @subscription, class: 'dl-horizontal' do |show|
  = show.attribute :number do
    - content_tag :strong, @subscription.number
  = show.attribute :id_card
  = show.attribute :name
  = show.attribute :email
  = show.association :event
  - last_group = ''
  - @subscription.field_fills.each do |fill|
    - group = fill.field.group_name
    - if group != last_group
      %h2= group
      - last_group = group
    = show.attribute fill.field.name.to_sym do
      = show_fill fill

= form_actions do
  - if can? :index, Subscription
    = link_to_back path: event_subscriptions_path(@subscription.event)
  - else
    = link_to_back path: mine_subscriptions_path
  = link_to_edit @subscription, edit_subscription_path(@subscription)
  = link_to_receipt(@subscription)
