- model_class = Subscription
= page_header t('.title')

= show_for @subscription, class: 'dl-horizontal' do |show|
  = show.attribute :number do
    - content_tag :strong, @subscription.number
  = show.attribute :id_card
  = show.attribute :name
  = show.attribute :email
  = show.association :event
  - @subscription.field_fills.each do |fill|
    = show.attribute fill.event_field.name.to_sym do
      = show_fill fill

= form_actions do
  = link_to_back path: subscriptions_path
  = link_to_edit @subscription, edit_subscription_path(@subscription)
  = link_to_receipt(@subscription)
