<%- model_class = Subscription -%>
<%= text_page_header t('.title') %>

<%= show_for @subscription, class: 'dl-horizontal' do |show| %>
  <%= show.attribute :id_card %>
  <%= show.attribute :email %>
  <%= show.association :event %>
  <%#= show.attribute :details %>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              subscriptions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_subscription_path(@subscription), :class => 'btn' %>
</div>
